In [1]:
import pandas as pd
import numpy as np

In [24]:
%time pydf = pd.read_csv("test_data.csv")

CPU times: user 1.83 s, sys: 106 ms, total: 1.94 s
Wall time: 2.04 s

In [3]:
%timeit pd.read_csv("test_data.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/magic.py:187: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  call = lambda f, *a, **k: f(*a, **k)
/opt/conda/lib/python3.7/site-packages/IPython/core/magics/execution.py:1164: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  all_runs = timer.repeat(repeat, number)

1.98 s ± 5.25 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [25]:
%%time
pydf.lpep_pickup_datetime = pd.to_datetime(pydf.lpep_pickup_datetime);
pydf.lpep_dropoff_datetime = pd.to_datetime(pydf.lpep_dropoff_datetime);

CPU times: user 356 ms, sys: 12 ms, total: 368 ms
Wall time: 383 ms

In [7]:
%timeit pydf['drive_time'] = (pydf.lpep_dropoff_datetime - pydf.lpep_pickup_datetime)

17.5 ms ± 16.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
%timeit np.exp(pydf.fare_amount / pydf.trip_distance) + pydf.passenger_count**2

28.5 ms ± 493 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [10]:
%%timeit
pydf.groupby("passenger_count").agg(mean_distance=("trip_distance", np.mean), 
    max_distance=("trip_distance", np.max));

36.4 ms ± 558 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
def myfunc_py(a, b, c):
    if a is np.nan:
        return 0
    elif round(a) % 2 == 0:
        return 2*a + b*c
    else:
        return a*b + 2*c

In [12]:
%timeit myfunc_py(1, 2, 3)

849 ns ± 22.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [13]:
pydf2 = pydf.head(1000);

In [14]:
%%timeit
pydf2['myfunc'] = pydf2.apply(lambda x: myfunc_py(x.passenger_count, x.trip_distance, x.fare_amount), 
    axis=1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

201 ms ± 1.08 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [26]:
%timeit pydf_sorted = pydf.sort_values(["passenger_count", "lpep_pickup_datetime"], ascending=[False, True])

385 ms ± 647 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [18]:
pydf_sorted

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,drive_time
95992,2.0,2019-12-08 21:41:31,2019-12-08 21:41:34,N,5.0,92,264,9.0,0.08,9.00,...,0.0,2.25,0.00,NaN,0.0,11.25,1.0,2.0,0.00,00:00:03
294231,2.0,2019-12-25 04:12:45,2019-12-25 04:12:46,N,5.0,264,264,9.0,0.00,9.00,...,0.0,0.00,0.00,NaN,0.3,9.30,1.0,2.0,0.00,00:00:01
21025,2.0,2019-12-03 02:24:08,2019-12-03 02:24:10,N,5.0,264,264,8.0,0.00,8.00,...,0.0,1.00,0.00,NaN,0.0,9.00,1.0,2.0,0.00,00:00:02
71740,2.0,2019-12-06 23:44:50,2019-12-07 00:15:40,N,5.0,181,151,8.0,11.77,85.50,...,0.0,18.87,6.12,NaN,0.0,113.24,1.0,2.0,2.75,00:30:50
97067,2.0,2019-12-09 02:58:31,2019-12-09 02:58:34,N,5.0,260,264,8.0,0.00,8.00,...,0.0,0.05,0.00,NaN,0.0,8.05,1.0,2.0,0.00,00:00:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450626,NaN,2019-12-31 23:52:00,2020-01-01 00:05:00,NaN,NaN,42,244,NaN,2.43,21.15,...,0.5,0.00,0.00,NaN,0.0,24.40,NaN,NaN,NaN,00:13:00
450615,NaN,2019-12-31 23:57:00,2020-01-01 00:06:00,NaN,NaN,248,174,NaN,4.07,22.59,...,0.5,0.00,0.00,NaN,0.3,26.14,NaN,NaN,NaN,00:09:00
450608,NaN,2019-12-31 23:58:00,2020-01-01 00:01:00,NaN,NaN,41,74,NaN,0.71,20.65,...,0.0,0.00,0.00,NaN,0.3,23.70,NaN,NaN,NaN,00:03:00
450611,NaN,2019-12-31 23:59:00,2020-01-01 00:03:00,NaN,NaN,10,10,NaN,0.51,21.57,...,0.0,0.00,0.00,NaN,0.3,24.62,NaN,NaN,NaN,00:04:00
450616,NaN,2019-12-31 23:59:00,2020-01-01 00:31:00,NaN,NaN,225,119,NaN,16.28,47.86,...,0.0,0.00,6.12,NaN,0.3,57.03,NaN,NaN,NaN,00:32:00