## Setup

### Install Dependencies

In [1]:
using Pkg

In [156]:
pkg"up"
pkg"add BenchmarkTools PyCall CSV DataFrames LibPQ IterTools"

  Updating registry at `/opt/julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
[1mFetching: [========================================>]  100.0 %.0 %]  41.1 %==================================>      ]  82.5 %Fetching: [=====================================>   ]  90.4 % Resolving package versions...
 Installed MutableArithmetics ─ v0.2.8
 Installed JuMP ─────────────── v0.21.2
  Updating `/opt/julia/environments/v1.3/Project.toml`
  [4076af6c] ↑ JuMP v0.21.1 ⇒ v0.21.2
  Updating `/opt/julia/environments/v1.3/Manifest.toml`
  [4076af6c] ↑ JuMP v0.21.1 ⇒ v0.21.2
  [d8a4904e] ↑ MutableArithmetics v0.2.7 ⇒ v0.2.8
  [ea10d353] ↓ WeakRefStrings v0.6.2 ⇒ v0.5.8
 Resolving package versions...
  Updating `/opt/julia/environments/v1.3/Project.toml`
  [bd369af6] + Tables v1.0.3
  Updating `/opt/julia/environments/v1.3/Manifest.toml`
  [ea10d353] ↑ WeakRefStrings v0.5.8 ⇒ v0.6.2

In [3]:
;conda install numpy pandas sqlalchemy psycopg2

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 4.7.12
  latest version: 4.8.3

Please update conda by running

    $ conda update -n base conda

### Imports

In [ ]:
using BenchmarkTools
using CSV
using DataFrames
using PyCall
using Dates

In [5]:
pd = pyimport("pandas")
np = pyimport("numpy")

PyObject <module 'numpy' from '/opt/conda/lib/python3.7/site-packages/numpy/__init__.py'>

### Download Test Data

In [ ]:
download("https://nyc-tlc.s3.amazonaws.com/trip+data/green_tripdata_2019-12.csv", 
    "test_data.csv")

In [7]:
filesize("test_data.csv")/1024^2 # in MB

39.241610527038574

### Estimate PyCall Overhead

How large is the potential influence of PyCall to the Python timings?

In [8]:
@btime x = pd.DataFrame()

  1.107 ms (7 allocations: 320 bytes)

PyObject Empty DataFrame
Columns: []
Index: []

In [9]:
@btime py"1+1"

  25.806 μs (3 allocations: 48 bytes)

2

The PyCall overhead is << 1ms.

## Import CSV File

In [10]:
@time df = CSV.File("test_data.csv") |> DataFrame # including compilation

 30.295102 seconds (24.72 M allocations: 1.418 GiB, 5.16% gc time)

450627×20 DataFrame. Omitted printing of 17 columns
│ Row    │ VendorID │ lpep_pickup_datetime │ lpep_dropoff_datetime │
│        │ Int64⍰   │ String               │ String                │
├────────┼──────────┼──────────────────────┼───────────────────────┤
│ 1      │ 1        │ 2019-12-01 00:09:45  │ 2019-12-01 00:10:59   │
│ 2      │ 2        │ 2019-12-01 00:26:05  │ 2019-12-01 00:31:30   │
│ 3      │ 2        │ 2019-12-01 00:56:36  │ 2019-12-01 00:59:38   │
│ 4      │ 2        │ 2019-12-01 00:26:20  │ 2019-12-01 00:40:19   │
│ 5      │ 2        │ 2019-12-01 00:56:36  │ 2019-12-01 00:59:56   │
│ 6      │ 1        │ 2019-12-01 00:14:28  │ 2019-12-01 00:19:39   │
│ 7      │ 1        │ 2019-12-01 00:45:54  │ 2019-12-01 00:52:46   │
│ 8      │ 2        │ 2019-12-01 00:25:35  │ 2019-12-01 01:04:08   │
│ 9      │ 1        │ 2019-12-01 00:43:12  │ 2019-12-01 00:56:44   │
│ 10     │ 2        │ 2019-12-01 00:56:08  │ 2019-12-01 01:05:11   │
⋮
│ 450617 │ missing  │ 2019-12-31 23:59:00  │ 2020-01-01 00:31:00   │
│ 450618 │ missing  │ 2019-12-31 23:14:00  │ 2019-12-31 23:45:00   │
│ 450619 │ missing  │ 2019-12-31 23:04:00  │ 2019-12-31 23:38:00   │
│ 450620 │ missing  │ 2019-12-31 23:11:00  │ 2019-12-31 23:27:00   │
│ 450621 │ missing  │ 2019-12-31 23:34:00  │ 2019-12-31 23:59:00   │
│ 450622 │ missing  │ 2019-12-31 23:46:00  │ 2020-01-01 00:03:00   │
│ 450623 │ missing  │ 2019-12-31 23:26:00  │ 2019-12-31 23:54:00   │
│ 450624 │ missing  │ 2019-12-31 23:02:00  │ 2019-12-31 23:16:00   │
│ 450625 │ missing  │ 2019-12-31 23:24:00  │ 2019-12-31 23:40:00   │
│ 450626 │ missing  │ 2019-12-31 23:16:00  │ 2019-12-31 23:37:00   │
│ 450627 │ missing  │ 2019-12-31 23:52:00  │ 2020-01-01 00:05:00   │

In [11]:
@btime df = CSV.File("test_data.csv") |> DataFrame;

  366.362 ms (1453154 allocations: 308.71 MiB)

In [12]:
@btime df = CSV.File("test_data.csv", threaded=false) |> DataFrame;

  954.164 ms (1552638 allocations: 313.63 MiB)

In [13]:
describe(df)

20×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable              │ mean     │ min                 │ median │
│     │ Symbol                │ Union…   │ Any                 │ Union… │
├─────┼───────────────────────┼──────────┼─────────────────────┼────────┤
│ 1   │ VendorID              │ 1.83345  │ 1                   │ 2.0    │
│ 2   │ lpep_pickup_datetime  │          │ 2008-12-31 22:34:56 │        │
│ 3   │ lpep_dropoff_datetime │          │ 2008-12-31 22:42:10 │        │
│ 4   │ store_and_fwd_flag    │          │ N                   │        │
│ 5   │ RatecodeID            │ 1.10284  │ 1                   │ 1.0    │
│ 6   │ PULocationID          │ 107.481  │ 1                   │ 82.0   │
│ 7   │ DOLocationID          │ 128.446  │ 1                   │ 129.0  │
│ 8   │ passenger_count       │ 1.31158  │ 0                   │ 1.0    │
│ 9   │ trip_distance         │ 3.44502  │ -9436.33            │ 1.94   │
│ 10  │ fare_amount           │ 15.5867  │ -200.0              │ 11.0   │
│ 11  │ extra                 │ 0.888232 │ -4.5                │ 0.5    │
│ 12  │ mta_tax               │ 0.439677 │ -0.5                │ 0.5    │
│ 13  │ tip_amount            │ 0.949459 │ -90.5               │ 0.0    │
│ 14  │ tolls_amount          │ 0.289563 │ 0.0                 │ 0.0    │
│ 15  │ ehail_fee             │          │                     │        │
│ 16  │ improvement_surcharge │ 0.270599 │ -0.3                │ 0.3    │
│ 17  │ total_amount          │ 18.7367  │ -200.0              │ 14.15  │
│ 18  │ payment_type          │ 1.477    │ 1                   │ 1.0    │
│ 19  │ trip_type             │ 1.02323  │ 1                   │ 1.0    │
│ 20  │ congestion_surcharge  │ 0.426469 │ -2.75               │ 0.0    │

In [14]:
@time pydf = pd.read_csv("test_data.csv");

  2.003191 seconds (33.99 k allocations: 1.710 MiB)

In [15]:
pydf.dtypes

PyObject VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [16]:
@btime pydf = pd.read_csv("test_data.csv");

  1.881 s (9 allocations: 352 bytes)

Python direct: 1.98s

CSV Import in Julia is a factor of 2 faster (single-threaded). It uses multithreading as default, with gives an additional speedup of a factor 3 here (4-core machine).

## Calculations

### Conversion of datetime columns

In [17]:
@btime DateTime.(df[!, :lpep_pickup_datetime], dateformat"yyyy-mm-dd HH:MM:SS");

  140.129 ms (450632 allocations: 24.07 MiB)

In [18]:
@time begin
    df[!, :lpep_pickup_datetime] = DateTime.(df[!, :lpep_pickup_datetime], 
        dateformat"yyyy-mm-dd HH:MM:SS");
    df[!, :lpep_dropoff_datetime] = DateTime.(df[!, :lpep_dropoff_datetime], 
        dateformat"yyyy-mm-dd HH:MM:SS");
end

  0.407877 seconds (933.46 k allocations: 49.596 MiB, 4.91% gc time)

450627-element Array{DateTime,1}:
 2019-12-01T00:10:59
 2019-12-01T00:31:30
 2019-12-01T00:59:38
 2019-12-01T00:40:19
 2019-12-01T00:59:56
 2019-12-01T00:19:39
 2019-12-01T00:52:46
 2019-12-01T01:04:08
 2019-12-01T00:56:44
 2019-12-01T01:05:11
 2019-12-01T00:34:48
 2019-12-01T00:20:42
 2019-12-01T00:06:22
 ⋮
 2020-01-01T00:06:00
 2020-01-01T00:31:00
 2019-12-31T23:45:00
 2019-12-31T23:38:00
 2019-12-31T23:27:00
 2019-12-31T23:59:00
 2020-01-01T00:03:00
 2019-12-31T23:54:00
 2019-12-31T23:16:00
 2019-12-31T23:40:00
 2019-12-31T23:37:00
 2020-01-01T00:05:00

In [19]:
@btime pd.to_datetime(pydf.lpep_pickup_datetime);

  133.233 ms (12 allocations: 528 bytes)

In [20]:
@time begin
    pydf.lpep_pickup_datetime = pd.to_datetime(pydf.lpep_pickup_datetime);
    pydf.lpep_dropoff_datetime = pd.to_datetime(pydf.lpep_dropoff_datetime);
end

  0.331713 seconds (7.13 k allocations: 345.325 KiB)

PyObject 0        2019-12-01 00:10:59
1        2019-12-01 00:31:30
2        2019-12-01 00:59:38
3        2019-12-01 00:40:19
4        2019-12-01 00:59:56
                 ...
450622   2019-12-31 23:54:00
450623   2019-12-31 23:16:00
450624   2019-12-31 23:40:00
450625   2019-12-31 23:37:00
450626   2020-01-01 00:05:00
Name: lpep_dropoff_datetime, Length: 450627, dtype: datetime64[ns]

Python direct: 0.35s

In [21]:
pydf.dtypes

PyObject VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

Conversion speed is similar, but Python syntax is easier (no need to explicitly define datetime format).

## Vectorized Calculations

In [22]:
df[!, :drive_time] = Second.(df[!, :lpep_dropoff_datetime] .- df[!, :lpep_pickup_datetime])

450627-element Array{Second,1}:
 74 seconds
 325 seconds
 182 seconds
 839 seconds
 200 seconds
 311 seconds
 412 seconds
 2313 seconds
 812 seconds
 543 seconds
 1456 seconds
 241 seconds
 85 seconds
 ⋮
 540 seconds
 1920 seconds
 1860 seconds
 2040 seconds
 960 seconds
 1500 seconds
 1020 seconds
 1680 seconds
 840 seconds
 960 seconds
 1260 seconds
 780 seconds

In [23]:
@btime df[!, :drive_time] = Second.(df[!, :lpep_dropoff_datetime] .- df[!, :lpep_pickup_datetime]);

  6.940 ms (8 allocations: 3.44 MiB)

In [24]:
pydf.drive_time = (pydf.lpep_dropoff_datetime - pydf.lpep_pickup_datetime)

PyObject 0        00:01:14
1        00:05:25
2        00:03:02
3        00:13:59
4        00:03:20
           ...
450622   00:28:00
450623   00:14:00
450624   00:16:00
450625   00:21:00
450626   00:13:00
Length: 450627, dtype: timedelta64[ns]

In [25]:
@btime pydf.drive_time = (pydf.lpep_dropoff_datetime - pydf.lpep_pickup_datetime);

  14.310 ms (9 allocations: 400 bytes)

Python direct: 17ms

In [26]:
df[!, :price_per_mile] = df[!, :fare_amount] ./ df[!, :trip_distance]

450627-element Array{Float64,1}:
 Inf
   8.208955223880597
   7.377049180327869
   3.58974358974359
   9.0
   5.454545454545454
   5.0
   4.0431266846361185
   3.1132075471698113
   3.7878787878787876
   4.675324675324675
   6.617647058823529
  75.0
   ⋮
   5.55036855036855
   2.9398034398034394
   3.1742610837438425
   2.40232268768146
   4.89202657807309
   2.398413666870043
   2.886944818304172
   4.875249500998004
  10.268722466960352
   2.916577540106952
  -5.020949720670392
   8.703703703703702

In [27]:
@btime df[!, :price_per_mile] = df[!, :fare_amount] ./ df[!, :trip_distance];

  6.657 ms (5 allocations: 3.44 MiB)

In [28]:
@btime pydf.price_per_mile = pydf.fare_amount / pydf.trip_distance

  3.022 ms (9 allocations: 368 bytes)

PyObject 0               inf
1          8.208955
2          7.377049
3          3.589744
4          9.000000
            ...
450622     4.875250
450623    10.268722
450624     2.916578
450625    -5.020950
450626     8.703704
Length: 450627, dtype: float64

In [29]:
@btime exp.(df[!, :fare_amount] ./ df[!, :trip_distance]) .+ df[!, :passenger_count].^2

  29.183 ms (27 allocations: 7.31 MiB)

450627-element Array{Union{Missing, Float64},1}:
  Inf
 3674.702264144405
 1599.864838235631
   37.22478632880233
 8104.083927575384
  234.81856574475168
  149.4131591025766
   58.004298919792745
   23.493076419549602
   45.16262255965407
  132.26738851310304
  749.182594758126
    3.7332419967990015e32
    ⋮
     missing
     missing
     missing
     missing
     missing
     missing
     missing
     missing
     missing
     missing
     missing
     missing

In [30]:
@btime np.exp(pydf.fare_amount / pydf.trip_distance) + pydf.passenger_count^2

  26.390 ms (24 allocations: 928 bytes)

PyObject 0                 inf
1         3674.702264
2         1599.864838
3           37.224786
4         8104.083928
             ...
450622            NaN
450623            NaN
450624            NaN
450625            NaN
450626            NaN
Length: 450627, dtype: float64

Python direct: 28.5ms

Julia is faster for the time distance, whereas Pandas is faster for the numerical calculations.

## Grouping

In [31]:
by(df, :passenger_count, (mean_distance=:trip_distance=>mean), 
    (max_distance=:trip_distance=>maximum))

11×3 DataFrame
│ Row │ passenger_count │ mean_distance │ max_distance │
│     │ Int64⍰          │ Float64       │ Float64      │
├─────┼─────────────────┼───────────────┼──────────────┤
│ 1   │ 1               │ 2.58961       │ 333.3        │
│ 2   │ 5               │ 2.60981       │ 38.89        │
│ 3   │ 2               │ 2.89825       │ 48.78        │
│ 4   │ 6               │ 2.41251       │ 27.78        │
│ 5   │ 3               │ 2.84961       │ 34.1         │
│ 6   │ 4               │ 2.6318        │ 69.86        │
│ 7   │ 0               │ 2.27189       │ 20.67        │
│ 8   │ 7               │ 0.0           │ 0.0          │
│ 9   │ 8               │ 2.1075        │ 11.77        │
│ 10  │ 9               │ 0.04          │ 0.08         │
│ 11  │ missing         │ 6.74247       │ 77843.8      │

In [32]:
@btime by(df, :passenger_count, (mean_distance=:trip_distance=>mean), 
    (max_distance=:trip_distance=>maximum));

  27.963 ms (250 allocations: 14.33 MiB)

In [33]:
pydf.groupby("passenger_count").agg(mean_distance=("trip_distance", "mean"), 
    max_distance=("trip_distance", "max"))

PyObject                  mean_distance  max_distance
passenger_count
0.0                   2.271892         20.67
1.0                   2.589612        333.30
2.0                   2.898245         48.78
3.0                   2.849613         34.10
4.0                   2.631798         69.86
5.0                   2.609807         38.89
6.0                   2.412509         27.78
7.0                   0.000000          0.00
8.0                   2.107500         11.77
9.0                   0.040000          0.08

In [34]:
@btime pydf.groupby("passenger_count").agg(mean_distance=("trip_distance", "mean"), 
    max_distance=("trip_distance", "max"));

  43.697 ms (47 allocations: 2.13 KiB)

In [35]:
@btime pydf.groupby("passenger_count").agg(mean_distance=("trip_distance", np.mean), 
    max_distance=("trip_distance", np.max));

  43.933 ms (54 allocations: 2.47 KiB)

Python direct: 36.4ms

Groupby-Aggregation is faster in Julia (and has shorter syntax).

## Apply Custom Functions

In [36]:
function myfunc(a, b, c)
    if a === missing
        return zero(a)
    elseif round(Int, a) % 2 == 0
        return 2a + b*c
    else
        return a*b + 2c
    end
end

myfunc (generic function with 1 method)

In [37]:
df[!, :myfunc] = myfunc.(df.passenger_count, df.trip_distance, df.fare_amount)

450627-element Array{Union{Missing, Float64},1}:
  6.0
 11.67
  9.61
 31.9
  9.5
 13.1
 16.5
 67.42
 38.3
 22.64
 55.25
  9.68
  6.04
  ⋮
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing
   missing

In [38]:
@btime df[!, :myfunc] = myfunc.(df.passenger_count, df.trip_distance, df.fare_amount);

  4.296 ms (14 allocations: 7.31 MiB)

In [39]:
size(df)

(450627, 23)

In [40]:
df2 = first(df, 1000);

In [41]:
@btime df2[!, :myfunc] = myfunc.(df2.passenger_count, df2.trip_distance, df2.fare_amount);

  8.360 μs (11 allocations: 8.19 KiB)

In [42]:
py"""
import numpy as np
def myfunc_py(a, b, c):
    if a is np.nan:
        return 0
    elif round(a) % 2 == 0:
        return 2*a + b*c
    else:
        return a*b + 2*c
"""

In [43]:
@btime py"myfunc_py(1, 2, 3)"

  43.153 μs (3 allocations: 48 bytes)

8

Python direct: 849ns - significantly faster than with PyCall

In [44]:
pydf2 = pydf.head(1000);

In [45]:
@btime pydf2.myfunc = pydf2.apply(py"lambda x: myfunc_py(x.passenger_count, x.trip_distance, x.fare_amount)", 
    axis=1)

  242.319 ms (35 allocations: 1.70 KiB)

PyObject 0       6.00
1      11.67
2       9.61
3      31.90
4       9.50
       ...
995    26.11
996    34.83
997    46.70
998    76.50
999    14.43
Length: 1000, dtype: float64

In [46]:
@btime py"$pydf2.apply(lambda x: myfunc_py(x.passenger_count, x.trip_distance, x.fare_amount), axis=1)"

  241.970 ms (7 allocations: 208 bytes)

PyObject 0       6.00
1      11.67
2       9.61
3      31.90
4       9.50
       ...
995    26.11
996    34.83
997    46.70
998    76.50
999    14.43
Length: 1000, dtype: float64

Python direct: 201ms

Julia is here ca. 20,000 times faster than Python/ Pandas!

## Row Iteration

In [47]:
function df_iter(df)
    result = 0
    last_passenger = 0
    for row in eachrow(df)
        if row.passenger_count === missing
            continue
        end
        result += row.passenger_count * last_passenger
        last_passenger = row.passenger_count
    end
    result
end

df_iter (generic function with 1 method)

In [48]:
@code_warntype df_iter(df)

Variables
  #self#::Core.Compiler.Const(df_iter, false)
  df::DataFrame
  result::Any
  last_passenger::Any
  @_5::Union{Nothing, Tuple{DataFrameRow{DataFrame,DataFrames.Index},Tuple{Base.OneTo{Int64},Int64}}}
  row::DataFrameRow{DataFrame,DataFrames.Index}

Body::Any
1 ─       (result = 0)
│         (last_passenger = 0)
│   %3  = Main.eachrow(df)::DataFrames.DataFrameRows{DataFrame,DataFrames.Index}
│         (@_5 = Base.iterate(%3))
│   %5  = (@_5 === nothing)::Bool
│   %6  = Base.not_int(%5)::Bool
└──       goto #7 if not %6
2 ┄ %8  = @_5::Tuple{DataFrameRow{DataFrame,DataFrames.Index},Tuple{Base.OneTo{Int64},Int64}}::Tuple{DataFrameRow{DataFrame,DataFrames.Index},Tuple{Base.OneTo{Int64},Int64}}
│         (row = Core.getfield(%8, 1))
│   %10 = Core.getfield(%8, 2)::Tuple{Base.OneTo{Int64},Int64}
│   %11 = Base.getproperty(row, :passenger_count)::Any
│   %12 = (%11 === Main.missing)::Bool
└──       goto #4 if not %12
3 ─       goto #5
4 ─ %15 = result::Any
│   %16 = Base.getproperty(row, :passenger_count)::Any
│   %17 = (%16 * last_passenger)::Any
│         (result = %15 + %17)
└──       (last_passenger = Base.getproperty(row, :passenger_count))
5 ┄       (@_5 = Base.iterate(%3, %10))
│   %21 = (@_5 === nothing)::Bool
│   %22 = Base.not_int(%21)::Bool
└──       goto #7 if not %22
6 ─       goto #2
7 ┄       return result

In [49]:
@btime df_iter($df)

  267.498 ms (3149642 allocations: 54.94 MiB)

715957

In [50]:
function df_iter2(df)
    result = 0
    last_passenger = 0
    for row in eachrow(df)
        if row.passenger_count === missing
            continue
        end
        passenger = row.passenger_count:: Int
        result += passenger * last_passenger
        last_passenger = passenger
    end
    result
end

df_iter2 (generic function with 1 method)

In [51]:
@code_warntype df_iter2(df)

Variables
  #self#::Core.Compiler.Const(df_iter2, false)
  df::DataFrame
  result::Int64
  last_passenger::Int64
  @_5::Union{Nothing, Tuple{DataFrameRow{DataFrame,DataFrames.Index},Tuple{Base.OneTo{Int64},Int64}}}
  row::DataFrameRow{DataFrame,DataFrames.Index}
  passenger::Int64

Body::Int64
1 ─       (result = 0)
│         (last_passenger = 0)
│   %3  = Main.eachrow(df)::DataFrames.DataFrameRows{DataFrame,DataFrames.Index}
│         (@_5 = Base.iterate(%3))
│   %5  = (@_5 === nothing)::Bool
│   %6  = Base.not_int(%5)::Bool
└──       goto #7 if not %6
2 ┄       Core.NewvarNode(:(passenger))
│   %9  = @_5::Tuple{DataFrameRow{DataFrame,DataFrames.Index},Tuple{Base.OneTo{Int64},Int64}}::Tuple{DataFrameRow{DataFrame,DataFrames.Index},Tuple{Base.OneTo{Int64},Int64}}
│         (row = Core.getfield(%9, 1))
│   %11 = Core.getfield(%9, 2)::Tuple{Base.OneTo{Int64},Int64}
│   %12 = Base.getproperty(row, :passenger_count)::Any
│   %13 = (%12 === Main.missing)::Bool
└──       goto #4 if not %13
3 ─       goto #5
4 ─ %16 = Base.getproperty(row, :passenger_count)::Any
│         (passenger = Core.typeassert(%16, Main.Int))
│   %18 = result::Int64
│   %19 = (passenger * last_passenger)::Int64
│         (result = %18 + %19)
└──       (last_passenger = passenger)
5 ┄       (@_5 = Base.iterate(%3, %11))
│   %23 = (@_5 === nothing)::Bool
│   %24 = Base.not_int(%23)::Bool
└──       goto #7 if not %24
6 ─       goto #2
7 ┄       return result

In [52]:
@btime df_iter2($df)

  158.853 ms (2070664 allocations: 38.47 MiB)

715957

A speedup of a factor of 2 by type assertion.

In [53]:
function df_iter3(passengers)
    result = 0
    last_passenger = 0
    for row in passengers
        if row === missing
            continue
        end
        passenger = row
        result += passenger * last_passenger
        last_passenger = passenger
    end
    result
end

df_iter3 (generic function with 1 method)

In [54]:
@btime df_iter3(df[!, :passenger_count])

  1.644 ms (1 allocation: 16 bytes)

715957

Even more efficient:

In [55]:
function df_iter4(passengers)
    result = 0
    last_passenger = 0
    for row in skipmissing(passengers)
        passenger = row
        result += passenger * last_passenger
        last_passenger = passenger
    end
    result
end

df_iter4 (generic function with 1 method)

In [56]:
@btime df_iter4(df[!, :passenger_count])

  938.002 μs (1 allocation: 16 bytes)

715957

Looping directly on arrays (extracted from df columns) gives a speedup of 100!

Due to type instability, `eachrow` should be avoided in performance-critical code. Instead, use looping over column arrays.

In [57]:
py"""
def pydf_iter(df):
    result = 0
    last_passenger = 0
    for row in df.itertuples(): # much faster than df.iterrows()
        if np.isnan(row.passenger_count):
            continue
        result += row.passenger_count * last_passenger
        last_passenger = row.passenger_count
    return result
"""

In [58]:
pydf_iter = py"pydf_iter"

PyObject <function pydf_iter at 0x7f8d00cdd4d0>

In [59]:
@btime pydf_iter($pydf)

  18.649 s (3 allocations: 48 bytes)

715957.0

In [60]:
py"""
from numba import njit

@njit
def pydf_iter2(passengers):
    result = 0
    last_passenger = 0
    for row in passengers:
        if np.isnan(row):
            continue
        result += row * last_passenger
        last_passenger = row
    return result
"""

In [61]:
pydf_iter2 = py"pydf_iter2"

PyObject CPUDispatcher(<function pydf_iter2 at 0x7f8d08d28ef0>)

In [62]:
@btime pydf_iter2(pydf.passenger_count.values)

  2.733 ms (41 allocations: 3.44 MiB)

715957.0

Even in the primitive (not type-stable) implementation, Julia is a factor of 50 faster than Python. When using loops over column arrays, Julia is a factor of 10,000 faster than Python.

Using a Numba JIT compiled function on a Numpy array is "only" a factor of 3 slower than the Julia array loop implementation and faster than the (type unstable) Julia `eachrow` implementations.

## Sorting

In [63]:
@btime sort(df, (:passenger_count, :lpep_pickup_datetime), rev=(true, false));

  1.355 s (11493266 allocations: 303.70 MiB)

Note that `sort` creates a copy of the DataFrame, `sort!` does in-place sorting.

In [64]:
@btime py"$pydf.sort_values(['passenger_count', 'lpep_pickup_datetime'], ascending=[False, True])";

  356.858 ms (7 allocations: 208 bytes)

Sorting is significantly faster in Pandas.

## Filtering

The Pandas slicing syntax corresponds to Julia filter function. `missing` data must be explicitly treated.

In [65]:
@btime filter(df) do x
    !ismissing(x.passenger_count) && x.passenger_count == 2
end

  202.057 ms (2070785 allocations: 43.70 MiB)

26698×23 DataFrame. Omitted printing of 20 columns
│ Row   │ VendorID │ lpep_pickup_datetime │ lpep_dropoff_datetime │
│       │ Int64⍰   │ DateTime             │ DateTime              │
├───────┼──────────┼──────────────────────┼───────────────────────┤
│ 1     │ 2        │ 2019-12-01T00:29:25  │ 2019-12-01T00:31:31   │
│ 2     │ 2        │ 2019-12-01T00:37:10  │ 2019-12-01T00:42:05   │
│ 3     │ 2        │ 2019-12-01T00:14:09  │ 2019-12-01T00:26:42   │
│ 4     │ 2        │ 2019-12-01T00:07:27  │ 2019-12-01T00:22:18   │
│ 5     │ 2        │ 2019-12-01T00:33:06  │ 2019-12-01T00:40:06   │
│ 6     │ 2        │ 2019-12-01T00:58:59  │ 2019-12-01T01:06:07   │
│ 7     │ 2        │ 2019-12-01T00:07:04  │ 2019-12-01T00:13:18   │
│ 8     │ 2        │ 2019-12-01T00:53:50  │ 2019-12-01T01:02:58   │
│ 9     │ 2        │ 2019-12-01T00:53:19  │ 2019-12-01T00:57:37   │
│ 10    │ 2        │ 2019-12-01T00:09:07  │ 2019-12-01T00:26:51   │
⋮
│ 26688 │ 2        │ 2019-12-31T23:31:03  │ 2019-12-31T23:48:52   │
│ 26689 │ 2        │ 2019-12-31T23:22:05  │ 2019-12-31T23:25:46   │
│ 26690 │ 2        │ 2019-12-31T23:28:49  │ 2019-12-31T23:38:56   │
│ 26691 │ 1        │ 2019-12-31T23:14:48  │ 2019-12-31T23:38:06   │
│ 26692 │ 1        │ 2019-12-31T23:52:17  │ 2019-12-31T23:58:54   │
│ 26693 │ 1        │ 2019-12-31T23:38:04  │ 2019-12-31T23:44:02   │
│ 26694 │ 2        │ 2019-12-31T23:05:36  │ 2019-12-31T23:14:21   │
│ 26695 │ 2        │ 2019-12-31T23:23:27  │ 2019-12-31T23:33:17   │
│ 26696 │ 2        │ 2019-12-31T23:51:51  │ 2020-01-01T00:10:29   │
│ 26697 │ 2        │ 2019-12-31T23:48:11  │ 2019-12-31T23:59:23   │
│ 26698 │ 2        │ 2019-12-31T23:18:35  │ 2019-12-31T23:22:26   │

In [66]:
@btime df[.!ismissing.(df.passenger_count) .& (df.passenger_count .== 2), :];

  15.476 ms (138 allocations: 4.85 MiB)

Slicing syntax is much faster than filter.

In [67]:
@btime py"$pydf[$pydf.passenger_count == 2]";

  15.211 ms (9 allocations: 240 bytes)

Julia and Pandas have similar speed, maybe Julia is slightly faster.

## Database Interaction

### Connecting

In [68]:
using LibPQ

┌ Info: Precompiling LibPQ [194296ae-ab2e-5f79-8cd4-7183a0a5a0d1]
└ @ Base loading.jl:1273

In [69]:
con_str = "postgres://postgres:python_tutorial_5432@192.168.1.24:15432/postgres"

"postgres://postgres:python_tutorial_5432@192.168.1.24:15432/postgres"

In [70]:
con = LibPQ.Connection(con_str)

PostgreSQL connection (CONNECTION_OK) with parameters:
  user = postgres
  password = ********************
  dbname = postgres
  host = 192.168.1.24
  port = 15432
  client_encoding = UTF8
  options = -c DateStyle=ISO,YMD -c IntervalStyle=iso_8601 -c TimeZone=UTC
  application_name = LibPQ.jl
  sslmode = prefer
  sslcompression = 0
  gssencmode = disable
  target_session_attrs = any

In [71]:
sqlalchemy = pyimport("sqlalchemy")

PyObject <module 'sqlalchemy' from '/opt/conda/lib/python3.7/site-packages/sqlalchemy/__init__.py'>

In [72]:
pyengine = sqlalchemy.create_engine(con_str)

PyObject Engine(postgres://postgres:***@192.168.1.24:15432/postgres)

### Create Table for Taxi Data

In [73]:
names(df)

23-element Array{Symbol,1}:
 :VendorID
 :lpep_pickup_datetime
 :lpep_dropoff_datetime
 :store_and_fwd_flag
 :RatecodeID
 :PULocationID
 :DOLocationID
 :passenger_count
 :trip_distance
 :fare_amount
 :extra
 :mta_tax
 :tip_amount
 :tolls_amount
 :ehail_fee
 :improvement_surcharge
 :total_amount
 :payment_type
 :trip_type
 :congestion_surcharge
 :drive_time
 :price_per_mile
 :myfunc

In [141]:
df_sample = df[:, [:lpep_pickup_datetime, :passenger_count, :trip_distance]];
#dropmissing!(df_sample);

In [75]:
first(df_sample, 5)

5×3 DataFrame
│ Row │ lpep_pickup_datetime │ passenger_count │ trip_distance │
│     │ DateTime             │ Int64           │ Float64       │
├─────┼──────────────────────┼─────────────────┼───────────────┤
│ 1   │ 2019-12-01T00:09:45  │ 1               │ 0.0           │
│ 2   │ 2019-12-01T00:26:05  │ 1               │ 0.67          │
│ 3   │ 2019-12-01T00:56:36  │ 1               │ 0.61          │
│ 4   │ 2019-12-01T00:26:20  │ 1               │ 3.9           │
│ 5   │ 2019-12-01T00:56:36  │ 1               │ 0.5           │

In [151]:
pydf_sample = py"$pydf[['lpep_pickup_datetime', 'passenger_count', 'trip_distance']]";
#pydf_sample = py"$pydf_sample[~$pydf_sample.passenger_count.isna()]"
pydf_sample.passenger_count = pydf_sample.passenger_count.fillna(0)
pydf_sample.passenger_count = np.int64(pydf_sample.passenger_count);

In [95]:
execute(con, "drop table if exists test_taxi")

PostgreSQL result

In [96]:
sql = """
create table test_taxi (
    lpep_pickup_datetime timestamp, 
    passenger_count int, 
    trip_distance numeric
);"""

"create table test_taxi (\n    lpep_pickup_datetime timestamp, \n    passenger_count int, \n    trip_distance numeric\n);"

In [97]:
execute(con, sql)

PostgreSQL result

### Insert into DB

In [98]:
@time begin
    execute(con, "BEGIN;")
    LibPQ.load!(
        (lpep_pickup_datetime=df_sample[!, :lpep_pickup_datetime], 
        passenger_count=df_sample[!, :passenger_count], 
        trip_distance=df_sample[!, :trip_distance],),
        con,
        """INSERT INTO test_taxi (lpep_pickup_datetime, passenger_count, 
            trip_distance) VALUES (\$1, \$2, \$3);""")
    execute(con, "COMMIT;")
end

 80.469195 seconds (33.83 M allocations: 1.904 GiB, 1.15% gc time)

PostgreSQL result

In [99]:
#execute(con, "ROLLBACK;") # in case of problems with query above

In [100]:
@time execute(con, "delete from test_taxi;")

  1.065985 seconds (74 allocations: 4.328 KiB)

PostgreSQL result

In [101]:
@time pydf_sample.to_sql("test_taxi", pyengine, if_exists="append", 
    index=false, method="multi")

 82.859435 seconds (57 allocations: 2.672 KiB)

### Example Read

In [102]:
sql = """
select lpep_pickup_datetime, passenger_count, cast(trip_distance as float) from test_taxi
"""

"select lpep_pickup_datetime, passenger_count, cast(trip_distance as float) from test_taxi\n"

In [103]:
@btime df_from_db = execute(con, sql) |> DataFrame

  6.579 s (8636246 allocations: 320.90 MiB)

359902×3 DataFrame
│ Row    │ lpep_pickup_datetime │ passenger_count │ trip_distance │
│        │ DateTime⍰            │ Int32⍰          │ Float64⍰      │
├────────┼──────────────────────┼─────────────────┼───────────────┤
│ 1      │ 2019-12-01T00:09:45  │ 1               │ 0.0           │
│ 2      │ 2019-12-01T00:26:05  │ 1               │ 0.67          │
│ 3      │ 2019-12-01T00:56:36  │ 1               │ 0.61          │
│ 4      │ 2019-12-01T00:26:20  │ 1               │ 3.9           │
│ 5      │ 2019-12-01T00:56:36  │ 1               │ 0.5           │
│ 6      │ 2019-12-01T00:14:28  │ 1               │ 1.1           │
│ 7      │ 2019-12-01T00:45:54  │ 1               │ 1.5           │
│ 8      │ 2019-12-01T00:25:35  │ 1               │ 7.42          │
│ 9      │ 2019-12-01T00:43:12  │ 1               │ 5.3           │
│ 10     │ 2019-12-01T00:56:08  │ 1               │ 2.64          │
⋮
│ 359892 │ 2019-12-31T23:03:23  │ 1               │ 1.06          │
│ 359893 │ 2019-12-31T23:12:33  │ 1               │ 0.82          │
│ 359894 │ 2019-12-31T23:40:39  │ 1               │ 0.93          │
│ 359895 │ 2019-12-31T23:48:25  │ 1               │ 2.15          │
│ 359896 │ 2019-12-31T23:00:09  │ 1               │ 0.54          │
│ 359897 │ 2019-12-31T23:17:45  │ 1               │ 6.45          │
│ 359898 │ 2019-12-31T23:07:37  │ 1               │ 3.77          │
│ 359899 │ 2019-12-31T23:12:53  │ 1               │ 2.24          │
│ 359900 │ 2019-12-31T23:56:05  │ 1               │ 4.19          │
│ 359901 │ 2019-12-31T23:21:06  │ 1               │ 8.27          │
│ 359902 │ 2019-12-31T23:27:53  │ 1               │ 8.9           │

In [104]:
@btime begin
    pydf_from_db = pd.read_sql(sql, pyengine)
    pydf_from_db.passenger_count = np.int32(pydf_from_db.passenger_count)
    pydf_from_db
end

  2.580 s (53 allocations: 1.38 MiB)

PyObject        lpep_pickup_datetime  passenger_count  trip_distance
0       2019-12-01 00:09:45                1           0.00
1       2019-12-01 00:26:05                1           0.67
2       2019-12-01 00:56:36                1           0.61
3       2019-12-01 00:26:20                1           3.90
4       2019-12-01 00:56:36                1           0.50
...                     ...              ...            ...
359897  2019-12-31 23:07:37                1           3.77
359898  2019-12-31 23:12:53                1           2.24
359899  2019-12-31 23:56:05                1           4.19
359900  2019-12-31 23:21:06                1           8.27
359901  2019-12-31 23:27:53                1           8.90

[359902 rows x 3 columns]

### Fast DB Writing using CSV Copy

Inserting large amount of data using SQL is very inefficient. A much faster way is to upload the data in csv format to the database, and let the database import it to the table.

The Julia implementation is inspired by https://invenia.github.io/LibPQ.jl/stable/#COPY-1

In [157]:
using IterTools

In [143]:
"""
Only for illustration purposes. Does not support `,` inside columns.
"""
function insert_by_copy!(con:: LibPQ.Connection, tablename:: AbstractString, df:: DataFrame)
    row_strings = imap(eachrow(df)) do row
        join((ismissing(x) ? "" : x for x in row), ",")*"\n"
    end
    copyin = LibPQ.CopyIn("COPY $tablename FROM STDIN (FORMAT CSV);", row_strings)
    execute(con, copyin)
end

insert_by_copy!

In [144]:
execute(con, "delete from test_taxi;")

PostgreSQL result

In [145]:
@time insert_by_copy!(con, "test_taxi", df_sample)

  5.357518 seconds (18.81 M allocations: 626.362 MiB, 2.87% gc time)

PostgreSQL result

In [146]:
execute(con, "select count(*) from test_taxi") |> DataFrame

1×1 DataFrame
│ Row │ count  │
│     │ Int64⍰ │
├─────┼────────┤
│ 1   │ 450627 │

Pandas does not include this functionality directly, but gives a sample implementation in its documentation.

In [110]:
py"""
from io import StringIO
import csv

def psql_insert_copy(table, conn, keys, data_iter):
    '''
    Alternative to_sql() *method* for DBs that support COPY FROM

    source: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sql-method

    :param table:
    :param conn:
    :param keys:
    :param data_iter:
    '''
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)
"""
psql_insert_copy = py"psql_insert_copy"

PyObject <function psql_insert_copy at 0x7f8d08045f80>

In [152]:
execute(con, "delete from test_taxi;")

PostgreSQL result

In [153]:
@time pydf_sample.to_sql("test_taxi", pyengine, if_exists="append", 
    index=false, method=psql_insert_copy)

  5.736143 seconds (56 allocations: 2.656 KiB)

In [154]:
execute(con, "select count(*) from test_taxi") |> DataFrame

1×1 DataFrame
│ Row │ count  │
│     │ Int64⍰ │
├─────┼────────┤
│ 1   │ 450627 │

## Summary

* CSV Import: draw - Julia is significantly faster single threaded and uses multiple threads by default, but has large compile-time for the first load
* Conversions to Datetime: draw - similar timings, but `pd.to_datetime` could automatically infer the datetime format.
* Vectorized standard calculations (which are available in Numpy): Pandas (+) - but the more complex the calculations get, the more Julia catches up
* Vectorized calculations using custom functions: Julia (++) - by 4 orders of magnitude in my example!
* Iteration over rows: Julia (++) - by 2 orders of magnitude using `eachrow` (not type-stable) and 4 orders of magnitude if looping over DataFrame column Arrays. Using Numba on Numpy arrays is still a factor of 3 slower than Julia Arrays and supports only a subset of Python language.
* Sorting: Pandas (+) - a factor of 4 faster in my example
* Filtering: draw - no significant speed difference
* Database read: Pandas (+) - Pandas seems to be faster for larger data sets, syntax is similar.
* Database write: Pandas (+) - although Julia is slightly faster, no high-level syntax like Pandas `to_sql()` available yet.
* Fast database uploads: draw - they are possible in both languages, but not built-in. Performance in Julia is slighty higher, but Pandas allows re-usage of its `to_sql()` command.